# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.survival 2.0.iml
# Datasource local storage ignored files
/../../../../../../:\Unity projects\survival 2.0\.idea\.idea.survival 2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
